*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  cursor: default;
  font-family: 'Inter', sans-serif;;
}
html,body,#root{
  width: 100%;
  height: 100%;

}
button,a,link,img,svg{
  cursor: pointer;
}
input{
  cursor: text;
}
@media(max-width: 800px){
  html,body,#root{
    overflow-x: hidden;
  }
}
